.Service_detail-container{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.ServiceDetail_reservation-container {
    width: 1920px;
    height: 500px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 150px;
}

.ServiceDetail_image-placeholder {
    width: 520px;
    height: 520px;
    background: #e6e6e6;
}

.ServiceDetail_info-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 42px;
}

.ServiceDetail_info-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.ServiceDetail_info-tag {
    height: 42px;
    padding: 7.5px 18px;
    background: white;
    border-radius: 36px;
    border: 1.5px solid #001a63;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #001a63;
    font-size: 24px;
    font-family: Pretendard, sans-serif;
    font-weight: 400;
}

.ServiceDetail_info-title {
    color: #333333;
    font-size: 40px;
    font-family: Pretendard, sans-serif;
    font-weight: 700;
}

.ServiceDetail_info-description {
    color: #999999;
    font-size: 24px;
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    line-height: 35px;
}

.ServiceDetail_info-rating {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.ServiceDetail_rating-stars {
    color: #ffb061;
    font-size: 25px;
    font-family: Pretendard, sans-serif;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.ServiceDetail_rating-count {
    color: #999999;
    font-size: 20px;
    font-family: Pretendard, sans-serif;
    font-weight: 300;
}

.ServiceDetail_price-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.ServiceDetail_price-title {
    color: #333333;
    font-size: 27.01px;
    font-family: Pretendard, sans-serif;
    font-weight: 700;
}

.ServiceDetail_price-description {
    color: #333333;
    font-size: 24px;
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    line-height: 38px;
}

.ServiceDetail_price-amount {
    color: #333333;
    font-size: 32px;
    font-family: Pretendard, sans-serif;
    font-weight: 700;
    line-height: 38px;
}

.ServiceDetail_reserve-button {
    width: 400px;
    height: 58px;
    padding: 7px 156px;
    background: #0059ff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 22px;
    font-family: Pretendard, sans-serif;
    font-weight: 550;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ServiceDetail_reserve-button:active {
    background-color: #003699;
}

.ServiceDetail_reserve-button:hover {
    background-color: #004bcc;
}


.ServiceDetail_info-tabs-container {
    padding-top: 170px;
    justify-content: center;
    align-items: center;
}


.ServiceDetail_review-container {
    width: 1000px;
    height: 100%;
    padding-top: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-bottom: 1px solid gray;
    padding-bottom: 32px;
    
}

.ServiceDetail_user-info {
    width: 179.74px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.ServiceDetail_user-avatar {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5.59px;
}

.ServiceDetail_user-id {
    align-self: stretch;
    color: #333333;
    font-size: 24px;
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.ServiceDetail_review-text {
    width: 800px;
    color: #333333;
    font-size: 24px;
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}






