.Mypage_container{
    position: relative;
    background: url(./images/mypageBanner.png);
    background-size: 1920px;
    height: 500px;
  }
  
  .Mypage_container p {
    color: white;
    font-size: 48px;
    position: absolute;
    top: 221.5px;
    left: calc(50% - 220px / 2 - 0.5px);
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
  }